.my-card-show {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
  margin: 5px;
  padding: 15px;
  height: 200px;
  h2 {
    font-family: 'Raleway Dots', cursive !important;
    color: rgb(240, 230, 230);
    font-size: 6rem;
    font-weight: 900;
  }
}
